<div>
  <form #addEmployee="ngForm" (ngSubmit)="onSave(addEmployee.value)">
    <div class="grid grid--col-2">
      <div class="add-form__info">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input ngModel type="text" name="firstName" id="firstName"
          class="form-control" [ngModel]="employee?.firstName">
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input ngModel type="text" name="lastName" id="lastName"
          class="form-control" [ngModel]="employee?.lastName">
        </div>
        <div class="form-group">
          <label for="departmentId">Department</label>
          <select id="departmentId" name="departmentId" class="form-control" ngModel
          [ngModel]="employee?.departmentId">
            <option value="">Please select a department</option>
            <option *ngFor="let department of departments" [value]="department.id">{{ department.name }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="dateOfJoining">Joining Date</label>
          <input type="date" class="form-control" name="dateOfJoining"
              id="dateOfJoining" placeholder="Date of Joining" ngModel
              [ngModel]="employee?.dateOfJoining">
        </div>
      </div>
      <div class="add-form__image">
        <div class="image">
          <img [src]="url" alt="Selected Image" height="200">
        </div>
        <div>
          <input type="file" #fileInput (change)="handleFileChange($event)">
        </div>

      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Add Employee</button>
    </div>
  </form>
</div>
