<div class="container">
  <button class="btn btn-primary" (click)="addEmployee()">Add Employee</button>
  <div class="barrier"></div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col">Employee Id</th>
        <th class="col">Employee Name</th>
        <th class="col">Department</th>
        <th class="col">Date of Joining</th>
        <th class="col">Options</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{employee.employeeID}}</td>
          <td>{{employee.fullName}}</td>
          <td>{{employee.departmentId}}</td>
          <td>{{employee.dateOfJoining | date}}</td>
          <td class="icons">
            <span><i class="far fa-check-square"></i></span>
            <span (click)="deleteEmployee(employee.employeeID)"><i class="fas fa-trash-alt"></i></span>
          </td>
        </tr>
    </tbody>
  </table>
</div>
