/* You can add global styles to this file, and also import other style files */

:root{
  --section-color: #eee;
}

body{
  font-size: 62.4%;
  padding: 0;
  margin: 0;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}

p{
  font-size: 1rem;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

.grid{
  display: grid;
  grid-gap: 2rem;
}

.grid--col-2{
  grid-template-columns: repeat(2, 1fr);
}
.grid--col-3{
  grid-template-columns: repeat(3, 1fr);
}
